[user] # work computer
	name = strong-code
	email = colin@strongco.de
	signingkey = 7268001529EE8877
[user] # desktop computer
    name = strong-code
    email = colin@strongco.de
    signingkey = E0C187121C1D931633DD93102FE311608369E3F1
	signingKey = 390621135F04A599
[core]
	excludesfile = ~/.gitignore
[commit]
	gpgSign = true
[safe]
	directory = /home/chl/Documents/code/actions-runner/_work/strongcode-client/strongcode-client
	directory = /home/deploy/strongcode-client
	directory = /home/deploy/strongcode
