[Unit]
Description=strongco.de service

[Service]
Type=simple
User=deploy
WorkingDirectory=/home/deploy/strongcode
Environment=ASDF_DIR=/opt/asdf
Environment=ASDF_NODEJS_VERSION=12.0.0
ExecStartPre=/opt/asdf/bin/asdf reshim nodejs 12.0.0
ExecStartPre=/bin/bash -c '. /opt/asdf/asdf.sh && npm install --no-optional --audit false --fund false'
ExecStart=/bin/bash -c '/opt/asdf/bin/asdf exec node index.js production >> /home/deploy/strongcode/log.txt'
