"*":
  core:
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  "custom-title":
    template: "<%= projectName %> <% if (gitHead) { %> [<%= gitHead %>]<% } %> - <%= relativeFilePath %>"
  editor:
    autoIndentOnPaste: false
    fontFamily: "mononoki"
    fontSize: 16
    invisibles:
      tab: " "
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "f16ef76b-d465-2577-dd91-e49c1ffce52d"
  minimap: {}
  "one-light-ui":
    layoutMode: "Compact"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view": {}
  welcome:
    showOnStartup: false
