# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias code="cd ~/Documents/code/" # Shortcut to main 'code' dir
alias desk="cd ~/Desktop" # Shortcut to desktop

# Git
alias ga="git add -A"
alias gr="git reset"
alias gs="git status -sb"
alias gc="git commit -m"
alias gp="git pull"
alias gpo="git push origin"
alias gd="git diff --color | ~/Documents/code/dotfiles/git/diff-so-fancy"
alias gdc="git diff --cached"
alias gwd="git diff --word-diff"
alias gb="git branch"
alias gst="git stash"
alias gstp="git stash pop"
alias gstc="git stash clear"
alias gstls="git stash list"

# Grep
alias grep="grep -n --color"

# Ruby
alias ri="rake install"
alias rake="bundle exec rake"

# Tmux
alias ta="tmux a -d -t"
alias tkill="tmux kill-sess -t"
alias tls="tmux ls"

# IRC
# Log in to server and start irssi in tmux session with named terminal tab
alias irc="echo -ne \"\033]0;IRC\007\" && ssh -x -t chl 'tmux a -t irc; bash -l'"

# Misc
alias ls="ls -FlAhpG"
alias c="clear"
alias reload="source ~/.bash_profile"
