# Make a directory and cd to it
mkcd () {
  mkdir -p "$1" && cd "$1"
}

# Print file name, info and bytesize
info () {
  file "$1"
  wc -c "$1"
}

# Print absolute path given a filename
fp () {
  case "$1" in
    /*) printf '%s\n' "$1";;
    *) printf '%s\n' "$PWD/$1";;
  esac
}

# Push to current branch with remote origin
gpc () {
  branch=$(git rev-parse --abbrev-ref HEAD)
  git push origin $branch
}

# Set upstream to origin/whatever
gsut () {
  git branch --set-upstream-to=origin/"$1" "$1"
}

# easy alias for git stash show, where arg $1 is the stash number
# -p flag shows expanded view
gsts () {
  if [ "$1" == "-p" ];
  then
    git stash show -p stash@{"$2"}
  else
    git stash show stash@{"$1"}
  fi
}

# Kill screen session by ID or name
skill () {
  screen -S "$1" -X quit
}

# Upload piped input to ix.io and copy resulting URL to clipboard

# If we're not on osx, alias paste to xclip utlity
if [ "$(uname)" == "Darwin" ]; then
  paste() {
    curl -s -F media=@"$1" -H "Authorization: Token token=$STRONGCODE_API_KEY" http://strongco.de/media | tee /dev/tty | pbcopy
  }
elif [ "$(uname)" == "Linux" ]; then
  paste() {
    curl -s -F media=@"$1" -H "Authorization: Token token=$STRONGCODE_API_KEY" http://strongco.de/media
  }
fi

# Get public-facing IP
myip () {
  PUB_IP=$(curl -s ipecho.net/plain)
  echo "$PUB_IP"
}

# Get process for given port
port () {
  lsof -i:$1
}
nvm () {
  unset -f nvm
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
  nvm "$@"
}

node () {
  unset -f node
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
  node "$@"
}

npm () {
  unset -f npm
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
  npm "$@"
}

note () {
  if [[ $1 == "-v" ]]; then
    vim -c 'startinsert' ~/.tempnote
    entry=$(cat ~/.tempnote)
    curl -H "Authorization: Token token=$STRONGCODE_API_KEY" -d "journal_entry[text]=$entry" http://strongco.de/journal_entries.json
    rm ~/.tempnote
  else
    curl -H "Authorization: Token token=$STRONGCODE_API_KEY" -d "journal_entry[text]=$1" http://strongco.de/journal_entries.json
  fi
  echo ""
}
